@{
  Layout = "_Layout";
}

@model Hospital.Models.Patient;
<h2>Patient Details</h2>
<hr /> 
<h3>Name: @Html.DisplayFor(model => model.PatientName)</h3>

@if(@Model.Doctors.Count == 0)
{
  <p>This Patient does not have any Doctors</p>
} 
else
{
  <h4>Doctors:</h4>
  <ul>
  @foreach(DoctorPatient join in Model.Doctors)
  {
    <li>@join.Doctor.DoctorName</li>
    @using (Html.BeginForm("RemoveDoctor", "Patients"))
    {
      @Html.Hidden("DoctorPatientId", @join.DoctorPatientId)
      <input type="submit" value="Remove" />
    }
  }
  </ul>
}

<p>@Html.ActionLink("Edit Patient", "Edit", new { id = Model.PatientId })</p>
<p>@Html.ActionLink("Delete Patient", "Delete", new { id = Model.PatientId })</p>
<p>@Html.ActionLink("Add Doctor", "AddDoctor", new { id = Model.PatientId })</p>